.offer-content {
  margin-bottom: 60px;
  margin-top: 60px;
  width: 100%;
  border-collapse: collapse;
  perspective: 1px;
  border-radius: 12px;
  overflow: hidden;
}

@media (width >= 600px) {
    .offer-content {
        width: 1360px;
        height: 189px;
    }
}

.offer-foreground {
    position: relative;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    color: #58181d;
    margin: 0;
    padding: 48px 48px 48px 348px;
    display: flex;

}

.offer-foreground .message {
  font-size: 18px;
  line-height: 24px;
  margin: 10px 0 0 0px;
  max-width: 580px;
}

.offer-foreground .message h3 {
  font: normal normal normal 32px /36px Baskerville;
  margin: 0;
  padding: 0;  
}
.offer-foreground .message p {
  line-height: 24px;
  margin: 8px 0;
}

.offer-foreground .cta {
  margin: auto;
}

.offer-background {
  display:inline-block;
  position: absolute;
  background-color: #F2EEE9;
}
.offer-background img {
  height: 189px;
}

