.banner-content {
  background-color: #f0e0d2;
  background-size: cover;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 60px;
  margin-top: 60px;
  
  display: flex;
  width: 100%;
  border-collapse: collapse;
  perspective: 1px;
  border-radius: 12px;
  overflow: hidden;
}

@media (width >= 600px) {
    .banner-content {
        width: 1360px;
        height: 189px;
    }
}

.banner-content .banner-detail {
    min-width: 690px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    color: #58181d;
    margin: 0;
    padding: 48px;
    transform: translateX(-1040px);
}

.banner-content .banner-detail h3 {
    font: normal normal normal 32px /36px Baskerville;
    margin: 0;
    padding: 0;  
}

.banner-content .banner-detail p {
  font-size: 18px;
  line-height: 24px;
  margin: 10px 0 0 0px;
}

.offer-image {
  margin: 0;
}
  .banner-image {
    margin: 0;
    height: 189px;

  }


  .banner-image img {
    width: 1360px;
    max-width: 1360px;
    height: 189px;
    object-fit: cover;
    mix-blend-mode: normal;
    border-collapse: collapse;

  }