.product-teaser-wrapper {
    padding: 20px 0;
}

.product-teaser {
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondary-color);
    border-radius: 12px;
}
